*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.eye {
    height: 100px;
    aspect-ratio: 1 / 1;

    display: grid;
    place-content: center;

    border: 2px solid black;
    border-radius: 50%;

    overflow: hidden;
}

.pupil-container {
    height: 50px;
    aspect-ratio: 1 / 1;

    position: relative;
}

.pupil {
    height: 40px;
    aspect-ratio: 1 / 1;

    background-color: black;

    border-radius: 50%;

    position: absolute;
    top: 50%;
    left: 50%;
    
    transform: translate(-50%, -50%);
}
